---
layout: post
title: angular知识点（1）
description: angualrjs整体学习
---
<h2><strong style="line-height: 1.25;">一、Scopes</strong></h2>

<h3>1、$scope 与 $rootscope</h3>
<p>
    $scope作用在当前作用域，$rootscope作用在全局作用于。
</p>

<h3>2、event（事件）的$on（接收）、$emit（发散）、$broadcast（广播）</h3>
<p>
    用$emit来发散一个事件，例如$emit(event.name)，这个发散只有自身作用域和父作用域可以接收到这个事件，平级作用域和子作用域没办法接收到；
    <br/>
    用$broadcast来广播一个事件，例如$broadcast(event.name)，这个发散只有自身作用域和子作用域可以接收到这个事件，平级作用域和父作用域没办法接收到；
    <br/>
    用$on来接收上两者发散和广播的事件，例如$on(event.name,function())，接收事件并进行相应的动作。
    <br/>
    $emit和$broadcast都属于一次作用函数，也就是引用一次，作用一次；而$on属于持续作用函数，一次引用，会持续监听。
</p>

<h3>3、$apply、$digest、$watch</h3>
<p>
    简单点来说，调用$apply()会自动调用$digest()进行$digest循环，循环会调用$watch来监视view里各个绑定的值是否发生变化，如果发生变化。
    <br/>
    具体点来说：
    <br/>
    如果在Angular js的上下文环境中对绑定的值进行了更改，Angular js会自动调用$apply()，然后$apply()会自动调用
    <span style="color: rgb(255,0,0);">$rootscope.$digest()</span>
    在$rootscope作用域和其子作用域中进行$digest循环，这个循环是用来调用这些作用域中的$watch函数，对每个绑定值进行是否改变的判断，如果改变则会调用回调函数对view中的值或js中的值进行修改。
    <br/>
    如果不在Angular js的上下文环境中，却对绑定的值进行了修改，则需要手动调用$apply()来实现上述功能。
    <br/>
    从大局上来说，这就是Angular js双向数据绑定的功能实现。
    <br/>
    另外要说的是：
    <br/>
    对于$apply()，有两种调用方式，一种是先执行函数，然后再其之后调用，即
</p>
<pre>
{
    function();
    $scope.$apply();
}
</pre>
<p>
    另一种是以运行的函数为参数进行调用，即
</p>
<pre>
{
    $scope.$apply(function());
}
</pre>
<p>
    两种方式效果一样，但是一般都以第二种方式进行调用，因为第二种方式有一个异常处理机制，函数被传入进去时，会先加载到一个try...catch块
    中，一旦函数发生错误，会被特定的函数处理。angularjs本身也是采用第二种方式进行的调用。
    <br/>
    对于$digest()，它是在当前作用域及其子作用域进行$digest进行循环，这是要注意的地方。这也是为什么Angular js本身直接调用rootscope
    下的$digest()的缘故了，覆盖所有的$watch。另外一次调用$digest()不止进行一次$digest循环，它会循环到没有绑定值发生变化或到达循环
    上限10次，这样是为了当$watch()的回调函数引起绑定值的变化时也能进行绑定值在其他地方的改变。所以，调用$digest()引起的$digest循环
    至少都是进行两次的，一次来进行值的变化，一次来确保没有值发生变化。但是，尽量不要在$watch()的回调函数中进行。
    <br/>
    对于$watch()，它的参数一个模块名，一个是回调函数，即$watch(string||function()，function(newVal，oldVal，scope))，newVal是
    当前值，oldVal是前一次的值，scope是引用的当前作用域的参数，一般可不写。关于$watch的一点心得：
    <a href="/2016/01/12/blog.html">$watch详解</a>。
</p>

<h3><span style="color: rgb(255,0,0);">4、$parse、$eval、$watch、$observe</span></h3>
<p>
    $parse、$eval都是用来解析表达式的，而$eval的基础是$parse，它实质还是通过$parse实现的，只是$parse的一种封装。
    <br/>
    $watch、$observe都可以用来监视属性，同时$watch也能够用来监视表达式。但是，$observe只用在指令内部，监控带有插值表达式
    （即类似{{}}这种的插值字符串）的属性。其他情况的属性监控，都用$watch。
    <br/>
    （具体的使用方法我还没有想明白，这里以后来补充）
</p>









<h2><strong style="line-height: 1.25;">二、Dependency Injection</strong></h2>
<p>
    先说说angular各个组件的定义方法吧。
    <br/>
    首先是定义模块 angular.module（“module name”，["dependency components name"]）
    <br/>
    接着是定义模块的服务、指令和控制器（"module name"）.(service || directive || controller) ( "service || directive ||
    controller name"， ["dependency components name"，function（dependency components params）])
    <br/>
    再就是类似 config和run的定义，（"module name"）.（config || run） (["dependency components name"，function（dependency components params）])
    <br/>
    还有一些其他组件，定义的方法与上面类似，就不一一说明了，大家遇到的时候自己注意就好。需要说明的是，dependency components name与
    dependency components params要是同步的，例如你引入了 “$scope” 和“$rootscope”，那function的参数就是$scope和$rootscope，
    顺序也要是一致的。当然，dependency components name是可以省略的，前提是可以通过你的dependency components params推断出你要注
    入的组件，从而找到相应的组件来使用。
    <br/>
    再来说说依赖注入的定义把。
    <br/>
    所谓依赖注入，就是一个组件或一个函数在定义的时候，需要使用到其他组件或函数，这时候就要将依赖的组件或函数注入进去，这也就导致定义的
    组件或函数在没有依赖的组件或函数存在时是没法正常运行的。依赖注入几乎贯穿angular的全过程。
    <br/>
    然而，并不是每一个组件或函数都是可以随便依赖注入的，正如我上面提到的几个组件，服务、指令、控制器一般没什么要求，但是对于config和run，
    就有要求了，config只能注入用.provider()定义的服务和一些常量，因为它是对模块进行配置，要确保配置完成之前没有实例对象的进行，而run
    则刚好和config相反，它不能有.provider()定义的服务的注入，这是为了确保实例对象运行的时候不会有系统配置。
    <br/>
    从上面也很容易看出一件事，run运行块是在config配置块之后运行的，说的这我就要说一下angular启动过程都干了说明，首先它会创建注入器和
    加载相应的模块，然后会进行配置文件的配置（用config），接着运行angular应用（用run），最后就是按照设定的程序最终运行了。
</p>








<h2><strong style="line-height: 1.25;">三、Service</strong></h2>
<p>
    对于Service，有五种定义方式：.constant() .value() .factory() .service() .provider()。
    <br/>
    大家要记住，Service使用的实例对象永远是同一个，所以当你改变了实例对象，所有的该Service的实例对象都会改变。
</p>

<h3>.constant()</h3>
<p>
    constant创建服务返回一个json对象，这个对象里可以有参数，可以有方法，并且属性和方法都可以在控制器中修改、新增。但是按照它的设计本
    意，一般constant创建的服务不会去修改它的内容，需要修改内容，最好用value来创建服务。
    <br/>
    定义方式如下：
</p>
<pre>
module.constant('name', {
    data1: data,
    data2: {},
    date3: function(param) {
        //do something
    }
})
</pre>

<h3>.value()</h3>
<p>
    value创建服务，第二个参数传入一个json对象，最终注入的就是这个json对象，这个对象里可以有参数，可以有方法，并且属性和方法都可以在控
    制器中修改、新增。但是按照它的设计本意，如果属性和方法需要被修改内容，就用value来创建服务。
    <br/>
    constant和value主要就是用于存放一些数据或方法以供使用，区别是constant一般是存放固定内容，value存放可能会被修改的内容。
    <br/>
    定义方式如下：
</p>
<pre>
module.value('name', {
    data1: data,
    data2: {},
    date3: function(param) {
        //do something
    }
})
</pre>
<p>修改方式如下：</p>
<pre>angular.extend(name,{})</pre>

<h3>.factory()</h3>
<p>
    factory创建服务，第二个参数传入一个函数，函数返回一个json对象，这个对象里可以有参数，可以有方法，最终被注入的就是这个json对象。
    <br/>
    定义方式如下：
</p>
<pre>
module.factory('name', function() {
    return {
        date1: date，
        date2: {}，
        date3: function(param) {
            //do something
        }
    }
})
</pre>
<p>当然，也可以类似这样：</p>
<pre>
module.factory('name', function() {
    function date3(param) { //do something };
    return {
        date1: date,
        date2: {},
        date3: date3
    }
})
</pre>
<p>亦或类似我用函数定义一个对象，然后在service中return new+函数，即</p>
<pre>
module.factory('name', function() {
    return new date()
})

function data() {
    this.date1 = date;
    this.date2 = {};
    this.date3 = function(param) {
        //do something
    }
}
</pre>
<p>这也是可以的。</p>

<h3>.service()</h3>
<p>
    service创建服务，第二个参数传入一个构造函数，在es6语法下，还可以是一个类，最终注入的也是这个构造函数或类实例化的结果。
    <br/>
    定义方式如下：
</p>
<pre>
module.service('name', function() {
         this.date1 = date;
         this.date2 = {};
         this.date3 = function(param){ //do something }
})
</pre>
<p>或者是类</p>
<pre>
module.service('name', class {
    construct() {
        this.date1 = date1;
        this.date2 = date2;
    }
    date3(param) {
        //do something
    }
})
</pre>
<p>很明显，service这种定义方式是可以被factory代替的，所以几乎使用service定义的服务都可以用factory来代替。</p>

<h3>.provider()</h3>
<p>
    provider创建服务，第二个参数传入一个函数，函数返回一个对象，对象里要有$get方法，这个方法返回一个json对象，这个对象里可以有参数，
    可以有方法，最终被注入的就是这个json对象。
    <br/>
    定义方式如下：
</p>
<pre>
module.provider('name', function() {
    this.date1 = date;
    this.date2 = {};
    this.date3 = function(param) {
        //do something
    }
    this.$get=function() {
        //do something/
        return {
            date4: date,
            date5: {},
            date6: function(param) {
                //do something
            }
        }
    }
})
</pre>
<p>或者是</p>
<pre>
module.provider('name', function() {
    return {
        date1: date，
        date2: {}，
        date3: function(param) {
            //do something
        }
        $get: function() {
            //do something/
            return {
                date4: date,
                date5: {},
                date6: function(param) {
                    //do something
                }
            }
        }
    }
})
</pre>
<p>
    说到底，就是在.service()或.factory()的基础上加上$get方法就好，这个方法返回一个对象。
    <br/>
    值得注意的是，与上面的几个service定义方法不同的是，provider的依赖注入是在$get上进行，而不像其他的是在定义头上进行。
    <br/>
    而且provider定义的服务是唯一的能通过config进行配置的服务，而且只有在配置之后才能和其他服务一些样这也是它的与众不同之处。
</p>










<h2><strong style="line-height: 1.25;">四、Directive</strong></h2>
<p>
    以前我看指令的时候，感觉比较头疼，因为引入了很多参数，对这些参数都不太了解。这次学习directive 的时候，随着对各个参数的了解，发现指令也没那么难，还是比较简单的。
    <br/>
    首先，要弄清指令是怎么创建的。指令的创建和服务的factory方法几乎一样，都是返回一个对象。例如：
</p>
<pre>
module.directive('name', function() {
    return {
        params: date
    }
})
</pre>
<p>
    <span style="color: rgb(255,0,0);">
        在指令中注入服务的方法是在创建时的函数那里注入即可，当然，你也可以只在controller中注入，那样就只供controller使用。
    </span>
    <br/>
    找到了创建的方法，最重要的是知晓创建时各个参数的意义了。我现在列出所有的参数：
</p>
<pre>
module.directive('name', function() {
    return {
        restrict
        priority
        template
        templateurl
        replace
        transclude
        scope
        controller
        require
        link
        compile
    }
})
</pre>
<p>现在我来一个个说明各个参数的意义：</p>

<h3>restrict</h3>
<p>
    用来设定指令作为说明使用，具体的参数有E、A、C、M
    <br/>
    E：表示作为元素使用，即：&lt;directive title="xxx"&gt;&lt;/directive&gt;
    <br/>
    A：表示作为属性使用，即：&lt;div &nbsp;directive="xxx"&gt;&lt;/div&gt;
    <br/>
    C：表示作为类使用，即：&lt;div class="directive:xxx"&gt;&lt;/div&gt;
    <br/>
    M：表示作为注释使用，即：&lt;!–Directive:directive&nbsp;xxx–&gt;
    <br/>
    这个四种格式可以自由搭配的，搭配之后是并集关系，代表这些类型都可以使用。一般使用E、A的比较多，C和M的比较少。
</p>

<h3>priority</h3>
<p>
    很少使用的参数，用来设定指令的优先级，可以在指令和其他指令并存时想要优先实现的情况下使用。例如ng-init和ng-repeat就有优先级关系。
    <br/>
    参数的值为数字。
</p>

<h3>teminal</h3>
<p>
    很少使用的参数，参数值为布尔型。
    <br/>
    true：表示优先级低于此指令的指令都不执行，高于或相同优先级可以执行。
    <br/>
    false：表示上述限制不存在。
    <br/>
    默认是false。
</p>

<h3>template</h3>
<p>
    模板参数，参数值为字符串或函数。
    <br/>
    不管是字符串还是函数，里面的内容都表示一段html代码，用来覆盖指令所在的html元素的内容。
    <br/>
    举个例子：
</p>
<pre>
module.directive('directive', function() {
    return {
        restrict: 'E'，
        template: '&lt;div&gt;&lt;h3&gt;hello world&lt;/h3&gt;&lt;/div&gt;'
    }
})
</pre>
<p>
    &lt;directive&gt;&lt;/directive&gt;会被渲染成：&lt;directvie&gt;&lt;div&gt;&lt;h3&gt;hello world&lt;/h3&gt;&lt;/div&gt;&lt;/directive&gt;
    <br/>
    如果是使用的函数，会有一定的差别，这个函数里只有两个参数element 和attrs，前一个参数代表指令所在的元素，后一个是这个元素的所有属性的集合。
    <br/>
    举个例子：
</p>
<pre>
module.directive('directive', function() {
    return {
        restrict: 'E',
        template: function(element, attrs) {
            var _html = '';
            _html += '&lt;div&gt;' + attrs.title + '&lt;/div&gt;';
            return _html;
        }
    }
})
</pre>
<p>
    <s>&lt;directive &nbsp;title=“xx”&gt;&lt;/directive&gt;会被渲染成：&lt;div&gt;xx&lt;/div&gt;</s>
    <br/>
    &lt;directive &nbsp;title=“xx”&gt;&lt;/directive&gt;会被渲染成：
    <span style="color: rgb(255,0,0);">
        &lt;directive &nbsp;title=“xx”&gt;<span style="color: rgb(255,0,0);">&lt;div&gt;xx&lt;/div&gt;</span>&lt;/directive&gt;
    </span>
    <br/>
    看，差别出来了，如果是字符串，模板内容是覆盖到元素的内容而不包括元素本身，如果是函数<s>，则会覆盖整个元素。</s>
    <span style="color: rgb(255,0,0);">，仍然是覆盖元素内容</span>
</p>

<h3>templateUrl</h3>
<p>
    也是模板参数，与上面不同的是它的参数是html文件的路径字符串或者函数。
    <br/>
    函数的内容与上面的一致的，而所谓的html文件的路径，其实和上面的字符串也是大同小异，不过是把上面的字符串内容放到一个html文件里面，然后引入进来。
    <br/>
    举个例子：
</p>
<pre>
module.directive('directive', function() {
    return {
        restrict: 'E',
        templateUrl: 'a.html'
    }

})
</pre>
<p>
    a.html的内容：&lt;div&gt;&lt;h3&gt;hello world&lt;/h3&gt;&lt;/div&gt;
    <br/>
    &lt;directive&gt;&lt;/directive&gt;会被渲染成：&lt;directvie&gt;&lt;div&gt;&lt;h3&gt;hello world&lt;/h3&gt;&lt;/div&gt;&lt;/directive&gt;
    <br/>
    函数的例子就不补充了，和上面一样。
    <br/>
    <span style="color: rgb(255,0,0);">
        需要说明的事，现在的web应用在上线时都会进行优化，这样就导致所需的模板的路径并不是你所写的那样，除非你能保证上线时你的模板路径
        能够匹配你书写的路径，否则，请不要使用这个参数，改用template。
    </span>
</p>

<h3>replace&nbsp;</h3>
<p>
    覆盖参数，参数值为布尔型。
    <br/>
    true：覆盖指令所在的整个元素。
    <br/>
    false：只 覆盖指令所在的元素的内容。
    <br/>
    默认是false。
    <br/>
    举个例子：
</p>
<pre>
module.directive('directive', function() {
    return {
        restrict: 'E',
        replace: true/false,
        template: '&lt;div&gt;&lt;h3&gt;hello world&lt;/h3&gt;&lt;/div&gt;'
    }
})
</pre>
<p>
    如果参数是true，&lt;directive&gt;&lt;/directive&gt;会被渲染成：&lt;div&gt;&lt;h3&gt;hello world&lt;/h3&gt;&lt;/div&gt;
    <br/>
    如果参数是false，&lt;directive&gt;&lt;/directive&gt;会被渲染成：&lt;directvie&gt;&lt;div&gt;&lt;h3&gt;hello world&lt;/h3&gt;&lt;/div&gt;&lt;/directive&gt;
    <br/>
    <span style="color: rgb(255,0,0);">
        这个参数在以后的版本中将要被废除了，而现在使用的时候需要注意，当replace为true时，你的模板中一定要有个根节点，理由也很简单，没
        有根节点，你用说明去取代所在的元素呢？
    </span>
</p>

<h3>transclude</h3>
<p>
    提取参数，参数值为布尔型或“element”。
    <br/>
    true：提取指令所在元素的内容放到指令的模板的的特定位置（覆盖掉标记ng-transclude所在元素的内容）。
    <br/>
    false：不提取。
    <br/>
    element：提取指令所在元素的整个元素放到指令的模板的特定位置（覆盖掉标记ng-transclude所在元素的内容）。
    <br/>
    默认是false。
    <br/>
    需要注意的是，如果参数为element，提取整个元素，放在指令的模板上，就会出现指令里有着同样的指令，而且这是个无限循环。本来，这是应该
    报错的，但是由于语言设定的问题，这里不会报错，而是将指令所在的元素转换为注释。
    <br/>
    这里的解决方法是加上replace：true，我没有弄清楚为什么要这么做，可能跟底层的一些DOM操作有关吧。
    <br/>
    举个例子：
</p>
<pre>
module.directive('directive', function() {
    return {
        restrict: 'E',
        transclude: true/false/element,
        template: '&lt;div&gt;&lt;h3 ng-transclude&gt;hello world&lt;/h3&gt;&lt;/div&gt;'
    }
})
</pre>
<p>
    如果参数是true，&lt;directive&gt;what fuck&lt;/directive&gt;会被渲染成：&lt;directvie&gt;&lt;div&gt;&lt;h3 &nbsp;ng-transclude&gt;what
    fuck&lt;/h3&gt;&lt;/div&gt;&lt;/directive&gt;
    <br/>
    如果参数是false，&lt;directive&gt;what fuck&lt;/directive&gt;会被渲染成：&lt;directvie&gt;&lt;div&gt;&lt;h3 ng-transclude&gt;hello
    world&lt;/h3&gt;&lt;/div&gt;&lt;/directive&gt;
    <br/>
    如果参数是“element”，&lt;directive&gt;what fuck&lt;/directive&gt;会被渲染成：&lt;!--directive:undefined–&gt;
    <br/>
    如果参数是“element”，同时加上replace：true，&lt;directive&gt;what fuck&lt;/directive&gt;会被渲染成：&lt;div&gt;&lt;h3 ng-transclude&gt;&lt;directive&gt;what
    fuck&lt;/directive&gt;&lt;/h3&gt;&lt;/div&gt;
</p>

<h3>scope</h3>
<p>
    作用域参数，参数值为布尔值或{}。
    <br/>
    true：继承父作用域，并创建一个新的子作用域，这个子作用域只能指令模板中的$scope元素使用。
    <br/>
    false：只继承父作用域。
    <br/>
    {}：创建一个全新的隔离作用域。
    <br/>
    举个例子：
</p>
<pre>
module.directive('directive', function() {
    return {
        restrict: "E",
        scope: true/false,
        template: '&lt;div&gt;&lt;h3&gt;{{xxx}}&lt;/h3&gt;&lt;/div&gt;'

    }
})
</pre>
<p>
    如果参数是true，&lt;directive &nbsp;ng-init=“xxx=‘aaa’”&gt;&lt;/directive&gt;会被渲染成：&lt;directvie &nbsp;
    ng-init=“xxx=‘aaa’”&gt;&lt;div&gt;&lt;h3&gt;aaa&lt;/h3&gt;&lt;/div&gt;&lt;/directive&gt;，这里要说明的是，如果指令本
    身有子作用域且子作用域中对xxx赋值为bbb，那会渲染成：&lt;directvie&nbsp;ng-init=“xxx=‘aaa’”&gt;&lt;div&gt;&lt;h3&gt;bbb&lt;/h3&gt;&lt;/div&gt;&lt;/directive&gt;
    <br/>
    如果参数是false，&lt;directive &nbsp;ng-init=“xxx=‘aaa’”&gt;&lt;/directive&gt;会被渲染成：&lt;directvie &nbsp;
    ng-init=“xxx=‘aaa’”&gt;&lt;div&gt;&lt;h3&gt;aaa&lt;/h3&gt;&lt;/div&gt;&lt;/directive&gt;
    <br/>
    这里单独说明值为{}的情况。
    <br/>
    {}怎么用呢，是这样的，{}可以将这个隔离作用域之外的属性绑定到作用域之内的属性上，从而实现隔离作用域内对隔离作用域外的属性的调用，当然，这种绑定只能绑定指令所在元素的属性。
    <br/>
    既然知道能够绑定了，接下来要介绍的就是三种绑定策略：@，=，&：
    <br/>
    @用来进行单向文本绑定，只能针对字符串，不能针对对象。
    <br/>
    =用来进行双向绑定，字符串和对象都能针对。
    <br/>
    &用来进行函数的绑定。
    <br/>
    举个例子：
</p>
<pre>
module.directive('directive', function() {
    return {
        restrict: 'E',
        scope: {
            xxx: '@xxx'
        },
        template: '&lt;div&gt;&lt;h3&gt;{{xxx}}&lt;/h3&gt;&lt;/div&gt;'
    }
})
</pre>
<p>
    &lt;directive &nbsp;xxx=“aaa”&gt;&lt;/directive&gt;会被渲染成：&lt;directvie xxx=“aaa”&gt;&lt;div&gt;&lt;h3&gt;aaa&lt;/h3&gt;&lt;/div&gt;&lt;/directive&gt;
    <br/>
    这就是@的功能体现，请牢记：<span style="color: rgb(255,0,0);">单向的，针对字符串的</span>
</p>
<pre>
module.directive('directive', function() {
    return {
        restrict: 'E',
        scope: {
            xxx: '=xxx'
        },
        template: '&lt;div&gt;&lt;input &nbsp;ng-model="xxx"&nbsp;/&gt;&lt;/div&gt;'
    }
})
</pre>
<p>
    &lt;div&gt;
    <br/>
    &nbsp; &nbsp; &nbsp; &nbsp;&lt;input &nbsp;ng-model="aaa" &nbsp;/&gt;
    <br/>
    &nbsp; &nbsp; &nbsp; &nbsp;&lt;directive &nbsp;xxx=“aaa”&gt;&lt;/directive&gt;
    <br/>
    &lt;/div&gt;
    <br/>
    会被渲染成：
    <br/>
    &lt;div&gt;
    <br/>
    &nbsp; &nbsp; &nbsp; &nbsp;&lt;input &nbsp;ng-model="aaa" &nbsp;/&gt;
    <br/>
    &nbsp; &nbsp; &nbsp; &nbsp;&lt;directive &nbsp;xxx=“aaa”&gt;
    <br/>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&lt;div&gt;&lt;input &nbsp;ng-model="
    <span style="color: rgb(255,0,0);">xxx</span>" &nbsp;/&gt;&lt;/div&gt;
    <br/>
    &nbsp; &nbsp; &nbsp; &nbsp;&lt;/directive&gt;
    <br/>
    &lt;/div&gt;
    <br/>
    这里能够体现的就是双向绑定的功能，渲染的两个xxx，我设置成两个不同的颜色就是为了说明这不是一个作用域的xxx，黑色的是指令外的作用域，
    红色的是指令内的作用域，这两个值是不对等的，但是有指令里=，这两个值双向绑定了，这就使得在第一个input里填写的内容，会在第二个input
    里出现，而在第二个input里填写的内容，会在第一个input里出现。
    <br/>
    这就是=的功能体现，请牢记：<span style="color: rgb(255,0,0);">双向的，针对字符串和对象的。</span>
</p>
<pre>
module.directive('directive', function(){
    return {
        restrict: 'E',
        scope: {
            xxx: '&xxx'
        },
        template: '&lt;div&gt;&lt;h3&gt;&lt;button &nbsp;ng-click="xxx"&gt;&lt;/button&gt;&lt;/h3&gt;&lt;/div&gt;'
    }
})
</pre>
<p>
    &lt;directive &nbsp;xxx=“aaa()”&gt;&lt;/directive&gt;会被渲染成：&lt;directvie xxx=“aaa”&gt;&lt;div&gt;&lt;h3&gt;&lt;button
    &nbsp;ng-click="aaa()"&gt;&lt;/button&gt;&lt;/h3&gt;&lt;/div&gt;&lt;/directive&gt;
    <br/>
    这里体现的就是绑定函数使用的功能了，其实和上面相比差别就在于使用的符号不同，绑定之后使用的方法还是照常的。
    <br/>
    <span style="color: rgb(255,0,0);">如果想给函数传递参数，就在函数中添加要加入的参数名称，而指令在使用时，就要以对象的形式给参数赋值。例如：</span>
    <br/>
    <span style="color: rgb(255,0,0);">xxx=“aaa(m,n)”，那么指令在使用时，需要xxx({m:m,n:n})这样使用</span>
    <br/>
    这就是&的功能，请牢记：<span style="color: rgb(255,0,0);">绑定函数。</span>
</p>

<h3>controller 、link 、require&nbsp;、compile</h3>
<p>
    这四个参数我放到一起，因为彼此间有联系。
    <br/>
    首先，对于controller、link、compile这三个函数的运行关系，运行顺序是controller先运行、compile或link后运行，link与compile不兼容。
    <br/>
    为啥不兼容呢，这是因为说到compile里有link的回调的缘故了，compile属于编译函数，它会编译代码然后用link去绑定内容到相应的scope，准
    确的来说compile通过编译生成了dom对象，这就是为什么compile和link不兼容的原因了。
    <br/>
    require这个函数是用来进行指令间的通信的。它可以将一个指令的里的controller调用到另一个指令中，然后通过compile或link函数去使用。
    <br/>
    具体的使用方法如下：
    <br/>
    这里我直接使用别人举得例子
</p>
<pre class="php">
phonecatDirectives.directive('exampleDirective', function() {
    return {
        restrict: 'E',
        template: '&lt;p&gt;Hello {{number}}!&lt;/p&gt;',
        controller: function($scope, $element) {
            $scope.number = $scope.number + '2222';
        },
        link: function(scope, element, attrs) {
            scope.number = scope.number + '3333';
        },
        compile: function(element, attrs) {
            return {
                pre: function preLink(scope, element, attrs) {
                    scope.number = scope.number + '4444 ';
                },
                post: function postLink(scope, element, attrs) {
                    scope.number = scope.number + '5555';
                }
            };
        }
    }
});

//controller.js添加
dtControllers.controller('directive2', ['$scope',
    function($scope) {
        $scope.number = '1111 ';
    }
]);

//html
&lt;body ng-app="phonecatApp"&gt;
    &lt;div ng-controller="directive2"&gt;
        &lt;example-directive&gt;&lt;/example-directive&gt;
    &lt;/div&gt;
&lt;/body&gt;
    </pre>
<p>
    这个代码运行的结果，就是hello 1111 2222 4444 5555，如果去掉compile，运行结果就是hello 1111 2222 3333。
    <br/>
    现在来说一下参数吧，controller、compile和link里一般有三个参数：（controller里加入美元符号以与其他两个做区分）
    <br/>
    scope：若指令中没有scope参数，指指令所在元素的scope对象；若有，指指令中scope的对象
    <br/>
    element：指令所在元素的内容集合
    <br/>
    attributes：指令所在元素的属性集合
    <br/>
    现在来说一下require
    <br/>
    前面也说了，是调用某个指令中的controller实现的。举个例子：
    <br/>
    假设上面的内容存在
</p>
<pre>
module.directive('directive', function(){
    return {
        restrict："E"，
        require：“[^directive_name，..，..，..]”
        scope：{
            xxx：”&xxx“
        }，
        template："&lt;div&gt;&lt;h3&gt;&lt;button &nbsp;ng-click="xxx"&gt;&lt;/button&gt;&lt;/h3&gt;&lt;/div&gt;"
        link：function（scope，element，attrs，controller）{
            controller[m].funciton();
        }
    }
})
</pre>
<p>
    这里的controller指代就是require里的指令，如果上述的require是个数组，这里的controller也就是个数组，两者的数据是对应的，调用时也需要通过数组的方式调用。
    <br/>
    <span style="color: rgb(255,0,0);">要注意的是，require里的指令名字前是可以有符号的，比如上面的^符号。对应的符号及其意义如下：</span>
    <br/>
    无符号：在require所在的指令中查找控制器，没有会抛出错误
    <br/>
    ^符号：在require所在的指令和指令的父指令中查找控制器，没有会抛出错误
    <br/>
    ^^符号：在require所在的指令的父指令中查找控制器，没有会抛出错误
    <br/>
    ?符号：在require所在的指令中查找控制器，没有会把controller参数置空
    <br/>
    以上的符号可以将?和^或^^组合
</p>









<h2><strong style="line-height: 1.25">五、filter</strong></h2>
<p>
    过滤器这个组件用的不能说很多，也不能说少。angular 本身就带有一些过滤器，但这些过滤器往往无法满足我们的需求，因此就要求我们能够自己去编写过滤器。
    <br/>
    首先我来说一下过滤器的用法。
    <br/>
    过滤器可以在controller、directive、service中使用，只要注入进去即可，使用是以函数的方式去使用，如下：
</p>
<pre>
controller('FilterController', ['filterFilter', function(filterFilter) {
    this.array = [
        {name: 'Tobias'},
        {name: 'Jeff'},
        {name: 'Brian'},
        {name: 'Igor'},
        {name: 'James'},
        {name: 'Brad'}
                                               ];
    this.filteredArray = filterFilter(this.array, 'a');
}])
</pre>
<p>
    <span style="color: rgb(255,0,0);">
        需要注意的是，注入的方式有两种，一种是以过滤器名称+Filter的方式注入，就如上面这种，另外一个则是注入$filter服务，然后使用$filter（过滤器名称）去注入。
    </span>
    <br/>
    过滤器也可以在view中直接使用，使用格式如下：
</p>
<pre>expression | filter ：这个是单独使用过滤器</pre>
<pre>expression | filter1 | filter2 | ... ：这个是链接使用过滤器，意思是一层一层的过滤，过滤结果不断向后面的过滤器传递过滤</pre>
<pre>expression | filter:argument1:argument2:... ：这个是给过滤器添加参数</pre>
<p>
    <span style="color: rgb(255,0,0);">注意，双括号里的是一个表达式，所以用双括号，其意义在这。</span>
    <br/>
    接下来先说一下angular有哪些自带的过滤器：
    <br/>
    currency：设置货币符号，不加参数默认使用所在区域的语言，也可以用参数设置语言
    <br/>
    number：设置数字字符的小数点位数，不管是数字还是数字字符都能转换，其他的都会返回空，要给参数，不给返回原数字字符
    <br/>
    lowercase：字符串转化为小写
    <br/>
    uppercase：字符串转化为大写
    <br/>
    json：json或js对象转化为字符串
    <br/>
    date：将日期过滤成你想要的格式
    <br/>
    orderby：按照某一项排序，要给参数
    <br/>
    limitTo：限定数组或字符串的长度，要给参数，不给参数返回原有字符串或数组
    <br/>
    filter：过滤数组，返回一个子数组，需要给参数，不给参数返回原有字符串或数组，给字符串返回数组元素含有改字符串的，给对象返回数组元素
    是对象且含有给的对象的属性的，给函数返回数组元素在函数种返回true的
    <br/>
    说完自带的，再来说说自定义的，其实自定义的和定义指令、服务那些没啥差别，格式如下：
</p>
<pre>
app.filter('name',function(){
    return function(inputArray){
        //do something
        return array;
    }
});
</pre>
<p>
    这是一个例子，例子中第一个参数是过滤器名字，第二个参数是构造函数，可以注入其他服务、指令或过滤器之类的。构造函数要返回一个函数，这个
    函数就是过滤处理函数，过滤函数的参数就是给过滤器加的参数，函数要返回一个处理后的结果。当然，这只是这样一个意思，写法多变，只要记住要
    返回一个函数，函数返回处理结果就好了，比如你还可以这样写：
</p>
<pre>
app.filter('name',function(){
    function(inputArray){
        //do something
        return array;
    }

    return function
});
</pre>
<p>
    或者你还可以将构造函数单独写在一边，然后引入就好，这和上面的指令的写法很相似。
    <br/>
    其他的就没什么好说的了，功能性的东西就是自己去写了。
</p>









<h2><strong style="line-height: 1.25">六、unit testing</strong></h2>
<p>
    正如这个名字，这一节是介绍单元测试的。
    <br/>
    单元测试的意义很大，在我看来，就好比你做一件事，必须要证明你做的是对的，不然不能让人信服，而单元测试，就承担着这方面的功能。
    <br/>
    在说具体的使用方法之前，我们要先知道三个angular推荐的测试插件：karma、jasmine、angular-mocks。暂时我不具体描述着三者，因为我也还没有具体使用过，大家先记住测试是依赖这三个东西的。
    <br/>
    让我们进入主题，到底该怎么进行单元测试呢，先看看具体的格式，以controller的测试为例吧：
</p>
<pre>
angular.module('app', [])
.controller('PasswordController', function PasswordController($scope) {
  $scope.password = '';
  $scope.grade = function() {
    var size = $scope.password.length;
    if (size > 8) {
      $scope.strength = 'strong';
    } else if (size > 3) {
      $scope.strength = 'medium';
    } else {
      $scope.strength = 'weak';
    }
  };
});

//注意，上下两块代码并不在一个js文件中，只是为了方便而放在一起

describe('PasswordController', function() {
  beforeEach(module('app'));

  var $controller;

  beforeEach(inject(function(_$controller_){
    // The injector unwraps the underscores (_) from around the parameter names when matching
    $controller = _$controller_;
  }));

  describe('$scope.grade', function() {
    var $scope, controller;

    beforeEach(function() {
      $scope = {};
      controller = $controller('PasswordController', { $scope: $scope });
    });

    it('sets the strength to "strong" if the password length is >8 chars', function() {
      $scope.password = 'longerthaneightchars';
      $scope.grade();
      expect($scope.strength).toEqual('strong');
    });

    it('sets the strength to "weak" if the password length <3 chars', function() {
      $scope.password = 'a';
      $scope.grade();
      expect($scope.strength).toEqual('weak');
    });
  });
});
</pre>
<p>
    现在让我来一一说明一下：
    <br/>
    describe（'information'，function(){}），这个语句是来进行一组测试时使用的，第一个参数是描述的信息，第二个参数是函数，表示要执行的操作。这个是由jasmint提供的。
    <br/>
    it（'information'，function(){}），这个语句是进行某一个点的测试时使用的，参数意义如上。这个是由jasmint提供的。
    <br/>
    beforeEach（），让我们在测试前执行一些代码。这个是由jasmint提供的。
    <br/>
    module（'name'），让我们导入某个模块，让模块可用，这样我们才能测试模块里的东西。这个由angular-mocks提供。
    <br/>
    inject（funciton（services）），让我们注入某些服务，但是注入的服务都有个硬性规定，注入的服务都要在前后添加下划线，而且注入的服务
    并不能直接使用，必须先付给另外一个变量才行。添加下划线是为了保持变量名的干净，防止和你测试中的变量名重名。至于为什么要先付给一个变量，
    我还没有弄清楚，这里我们先不深究，因为很有可能是angular的硬性规定。这里的服务可以包括_$controller_、_$filter_、_$rootScope_、
    _$compile_等，具体应该还有很多，在angular的文档中也没有详细的说明，应该在angular-mocks中可以看到，等我熟悉了上面那三个测试插件后，
    再来详细说明。
    <br/>
    上面对controller的测试实例看过之后，大家应该可以很好的了解了吧，再看一个filter的例子：
</p>
<pre>
myModule.filter('length', function() {
  return function(text) {
    return ('' + (text || '')).length;
  }
});

describe('length filter', function() {

  var $filter;

  beforeEach(inject(function(_$filter_){
    $filter = _$filter_;
  }));

  it('returns 0 when given null', function() {
    var length = $filter('length');
    expect(length(null)).toEqual(0);
  });

  it('returns the correct value when given a string of chars', function() {
    var length = $filter('length');
    expect(length('abc')).toEqual(3);
  });
});
</pre>
<p>
    大家也许会疑惑，为什么这里不需要导入模块？开始我也疑惑了一下，后来发现，这个给出的例子，定义和测试是直接放在一个js文件中的，因此不需
    要载入模块就能使用。这也就告诉我们上面时候需要引入模块了。
    <br/>
    指令的测试注入的服务要多一些，首先要注入$compile元素进行编译，同时要注入$rootScope元素进行更新。
</p>
<pre>
app.directive('aGreatEye', function () {
    return {
        restrict: 'E',
        replace: true,
        template: '&lt;h1&gt;lidless, wreathed in flame, {{1 + 1}} times&lt;/h1&gt;'
    };
});


describe('Unit testing great quotes', function() {
  var $compile,
      $rootScope;

  // Load the myApp module, which contains the directive
  beforeEach(module('myApp'));

  // Store references to $rootScope and $compile
  // so they are available to all tests in this describe block
  beforeEach(inject(function(_$compile_, _$rootScope_){
    // The injector unwraps the underscores (_) from around the parameter names when matching
    $compile = _$compile_;
    $rootScope = _$rootScope_;
  }));

  it('Replaces the element with the appropriate content', function() {
    // Compile a piece of HTML containing the directive
    var element = $compile('&lt;a-great-eye&gt;&lt;/a-great-eye&gt;')($rootScope);
    // fire all the watches, so the scope expression {{1 + 1}} will be evaluated
    $rootScope.$digest();
    // Check that the compiled element contains the templated content
    expect(element.html()).toContain('lidless, wreathed in flame, 2 times');
  });
});
</pre>
<p>
    有些东西不好说，从例子来看更能够明白，指令的比较很多时候是比较内容是否包含什么，写法也和上面的expect().toEqual()不同。
    <br/>
    其实还有一些测试需要注意的地方，但是由于没怎么用到，所以也很难去介绍，等以后用到了，再来补充。
    <br/>
</p>